go 1.24.0

toolchain go1.24.12

use (
	./apps/api
	./backend/app/api_route
	./backend/app/organization
	./backend/app/permission
	./backend/app/role
	./backend/app/user
	./backend/app/workspace
	./backend/app/workspace_member
	./backend/domain
	./backend/domain/errors
	./backend/domain/ternary
	./backend/infra/dafi
	./backend/infra/database
	./backend/infra/di
	./backend/infra/httpresponse
	./backend/infra/localconfig
	./backend/infra/logger
	./backend/infra/server
	./backend/infra/sqlcraft
	./backend/infra/validation
)
