go 1.24.12

use (
	./cmd/api
	./internal/adapter/database
	./internal/adapter/di
	./internal/adapter/localconfig
	./internal/adapter/logger
	./internal/adapter/server
	./internal/adapter/validation
	./internal/core/api_route
	./internal/core/auth
	./internal/core/email_log
	./internal/core/email_template
	./internal/core/organization
	./internal/core/permission
	./internal/core/role
	./internal/core/user
	./internal/core/workspace
	./internal/core/workspace_member
	./internal/port
	./internal/port/errors
	./internal/port/ternary
	./pkg/dafi
	./pkg/httpresponse
	./pkg/sqlcraft
)
