go 1.24.12

use (
	./cmd/api
	./cmd/migrate
	./internal/adapter/database
	./internal/adapter/di
	./internal/adapter/localconfig
	./internal/adapter/logger
	./internal/adapter/server
	./internal/adapter/validation
	./internal/core/notifications/email_dispatcher
	./internal/core/notifications/email_log
	./internal/core/notifications/email_template
	./internal/core/notifications/eventbus
	./internal/core/notifications/events
	./internal/port
	./internal/port/errors
	./internal/port/ternary
	./pkg/dafi
	./pkg/httpresponse
	./pkg/sqlcraft
)
